body{
    margin:0px;
    
    
}
.img-bg{
    background-image:url(../static/1.jpg);
    background-repeat:no-repeat;
    background-size:500px;
}

.form-predict{
    margin: 50px;
    margin-left: 200px;
    margin-top:200px;
}




.img {
    margin-left: 400px;
   
    background: url('../static/1.jpg');
   
background-repeat: no-repeat;

  background-size:100% 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(0px);
  position:fixed;
  width: 70%;
  height: 80%;
  top: 0;
  left: 0;
  z-index: -1;


  }
  
.btn-submit{
       width: 70px;
       height:30px;
       color: rgb(0, 0, 0);
       background-color: cornflowerblue;
  }

