<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-estate</title>
    <link rel="stylesheet" href="../static/register.css">
</head>
<body>
    <!-- not required--> 
    <!-- <form class="login" action="">
        <h1>Name </h1>
        <input value="">
        <h1>Email </h1>
        <input value="">
        <h1>Password</h1>
        <input value="">
        <br> <br>
        <button type="submit">
            Submit
        </button>
        <br><br>
        <button>
            Login
        </button>
    </form> -->
    <form action="/" method="post">
        <div class="box">
            <div class="form">
                <h2>REGISTER</h2>
                <div class="inputBox">
                    <input type="email" name="email" required>
                    <span>Email</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="text" name="username" required>
                    <span>Name</span>
                    <i></i>
                </div>
                <div class="inputBox">
                    <input type="password" name="password" required>
                    <span>Password</span>
                    <i></i>
                </div>
                <div class="links">
                    <a >Already have an account ? </a>
                    <a href="{{url_for('login')}}">Login</a>
                </div>
                
                <input type="submit" value="Submit">
                
                <button class="login">Login</button>
    
                
            </div>
        </div>
    </form>

    
</body>
</html>